.container {
  margin-bottom: 16px;
}

.list {
  list-style-type: none;
  gap: 16px;
  display: flex;
  flex-direction: column;
  margin-top: 16px;

  &--fullView {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 24px;
  }
}

.heading {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  list-style: none;
  width: fit-content;
  margin-right: auto;

  &::marker,
  &::-webkit-details-marker {
    display: none;
  }

  &--fullView {
    margin-left: auto;
    pointer-events: none;
  }
}