.container {
  min-width: 116px;
  height: 90px;
  box-shadow: 0 4px 8px var(--dark-shadow);
  border-radius: 12px;
  background-color: var(--white);

  &:hover {
    border: 0.5px solid var(--main-black);
    cursor: pointer;
  }

  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}